.highlight-card {
  animation: pulse 1s ease infinite;
  box-shadow: 0 0 5px theme(colors.accent.500) !important;
  transition: box-shadow 0.1s linear !important;

  &:hover {
    animation-play-state: paused;
    box-shadow: 1px 1px 8px grey !important;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}

.other-cards {
  filter: blur(3px);
  pointer-events: none;
}
