.navbar:hover .header-text {
  opacity: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 800ms;
  visibility: visible;
  position: relative;
}

.menu-item {
  &:last-child {
    margin-top: auto;
    @apply border-t-[1px] border-space-neutral-300;
  }

  &:has(.active) {
    box-shadow: inset 2px 0 0 0 theme(colors.primary.300);

    .menu-item__icon {
      @apply rounded-xl bg-space-neutral-800 text-primary-300;
    }
  }
}

.navbar:hover .menu-item__text {
  visibility: visible;
  opacity: 1;
}
