.todo {
  position: relative;
  flex-grow: 1;
  background-color: theme(colors.secondary);
  padding: 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  color: white;

  .checkbox {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: theme(colors.primary);
    transition: 0.4s;
  }

  &.is-complete .checkbox {
    background-image: linear-gradient(
      to bottom,
      theme(colors.primary-light),
      theme(colors.accent-portage)
    );
  }

  .text {
    font-size: 20px;
  }

  &.is-complete .text {
    text-decoration: line-through;
  }

  .delete-todo {
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: theme(colors.accent-rose);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
}
