:root {
  font-family: Inter, sans-serif;

  --color-primary: 235.9 34.1% 16.7%;
  --color-primary-light: 237.7 15.1% 33.7%;
  --color-primary-dark: 249 53% 10%;
  --color-secondary: 211 66% 28%;
  --color-accent-cyan: 180 100% 50%;
  --color-accent-portage: 251.5 76.7% 68%;
  --color-accent-rose: 330.4 81.2% 60.4%;
  --color-accent-orange: 16.3 99% 62.2%;
  --color-content: 0 0% 100%;
}

body {
  background-color: theme(colors.content);
  color: black;
}

h1 {
  @apply text-center text-4xl font-bold;
}

h2 {
  @apply mb-4 mt-10 text-2xl font-bold;
}
h3 {
  @apply mb-2 mt-5 text-lg font-semibold;
}

p {
  @apply lg:w-2/3 2xl:w-1/3;
}
