@import "tailwindcss/base";

@layer base {
:root {
    font-family: Inter, sans-serif;
  
    --color-primary: 236.4, 37.9%, 17.1%;
    --color-accent-cyan: 180, 100%, 50%;
    --color-accent-portage: 251.5, 76.7%, 68%;
    --color-accent-rose: 330.4, 81.2%, 60.4%;
    --color-accent-orange: 16.3, 99%, 62.2%;
    --color-contrast: 219.3, 23%, 49.4%;
  }
  
  
  body {
    background-color: var(--primary-color);
      color: white;
  }
}